target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

*.class

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea/
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbproject/genfiles.properties
/build/

.vscode/

Thumbs.db
Desktop.ini
.DS_Store

*.log

.env
*.tmp
*.temp

storage/
storage/documents/
storage/*.db
storage/*.mv.db
storage/*.trace.db
*.db
*.mv.db
*.trace.db
